.fileItem {
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr 1fr;
}

.cell {
  padding: 10px;

  > p {
    font-size: 14px;
  }
}

.nameCell {
  @extend .cell;

  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 5px;

  > svg {
    color: #00a5ce;
  }
}
