.fileHeader {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 1fr;
  }
}

.cell {
  padding: 5px;

  @media screen and (min-width: 1200px) {
    padding: 10px;
  }
}

.sortCell {
  @extend .cell;

  width: 100%;

  > p {
    font-size: 14px;
    font-weight: 600;
    color: #5e5e5e;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.nameCell {
  @extend .cell;

  @media screen and (min-width: 1200px) {
    padding-left: 40px;
  }
}
