.sortButton {
  display: flex;
  align-items: center;
  gap: 2px;

  border: none;
  padding: 0;
  background-color: transparent;
}

.text {
  font-size: 12px;
  color: #5e5e5e;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    font-weight: 600;
  }
}

.sortIcon {
  color: #5e5e5e;
}

.sortIconActive {
  @extend .sortIcon;

  color: #00a5ce;
}
