.home {
  padding: 15px 0;

  @media screen and (min-width: 1200px) {
    padding: 30px 0;
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 28px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    font-size: 32px;
  }
}

.loader,
.noItems {
  padding: 30px 0;

  font-size: 20px;
  text-align: center;
  color: #5c5c5c;
}
