.folderHeader {
  padding: 5px;

  @media screen and (min-width: 1200px) {
    padding: 10px;
  }
}

.folderNameBtn {
  display: flex;
  align-items: center;
  gap: 5px;

  border: none;
  padding: 0;
  background-color: transparent;

  > svg {
    transition: transform 200ms;
  }

  > span {
    font-weight: 700;
  }
}

.noItems {
  padding: 5px;
  font-size: 12px;
  color: #5e5e5e;

  @media screen and (min-width: 1200px) {
    padding: 10px;
    font-size: 14px;
  }
}
